USE [master]
GO
/****** Object:  Database [DesafioDic]    Script Date: 12/06/2019 09:20:38 ******/
CREATE DATABASE [DesafioDic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesafioDic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DesafioDic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesafioDic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DesafioDic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesafioDic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesafioDic]
GO
/****** Object:  UserDefinedFunction [dbo].[IS_LATE]    Script Date: 12/06/2019 09:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*INSERT INTO DIC(ID_USER, ID_PERIOD, ID_STATUS, DESCRIPTION, START_DATE)
VALUES(3, 2, 3,'TESTEEEEE','2019-01-11T10:49:20.1')

(CASE WHEN datediff(month, FINISHED_DATE, GETDATE()) < 0 
OR datediff(month, FINISHED_DATE, GETDATE()) IS NULL  
THEN 1 ELSE 0 END) AS IS_LATE

SELECT * FROM USERS; SELECT * FROM DIC;*/

CREATE FUNCTION [dbo].[IS_LATE](
	@FINISHED_DATE DATETIME ,
	@START_DATE DATETIME  ,
	@PERIOD_MONTHS INT) RETURNS BIT AS 
BEGIN
	DECLARE  @START_MONTH INT, @CURRENT_MONTH INT,
	 @FINISHED_MONTH INT, @MAX_MONTH INT;
	--SET @IS_LATE = 1;
	SELECT @START_MONTH = DATEPART(MONTH,@START_DATE);
	SELECT @CURRENT_MONTH = DATEPART(MONTH, GETDATE());
	SELECT @MAX_MONTH = (DATEPART(MONTH,@START_DATE) + @PERIOD_MONTHS -1)
	IF(@FINISHED_DATE IS NOT NULL)
		BEGIN
			IF(DATEPART(YEAR,@START_DATE) = DATEPART(YEAR,@FINISHED_DATE))
			BEGIN
				SELECT @FINISHED_MONTH = DATEPART(MONTH, @FINISHED_DATE)
				IF(@FINISHED_MONTH > @MAX_MONTH)
					BEGIN
						RETURN 1
					END
				ELSE
					BEGIN
						RETURN 0
					END
			END
			ELSE
			BEGIN 
				IF(DATEDIFF(MONTH,@START_DATE,@FINISHED_DATE) > (@PERIOD_MONTHS-1))
					BEGIN
						RETURN 1
					END
				ELSE
					BEGIN
						RETURN 0
					END
			END
		END
		ELSE
			IF(DATEPART(YEAR,@START_DATE) = DATEPART(YEAR,GETDATE()))
			BEGIN
				IF(@CURRENT_MONTH > @MAX_MONTH)
					BEGIN
						RETURN 1
					END
				ELSE
					BEGIN
						RETURN 0
					END
			END
			ELSE
			BEGIN 
				IF(DATEDIFF(MONTH,@START_DATE,GETDATE()) > (@PERIOD_MONTHS-1))
					BEGIN
						RETURN 1
					END
				ELSE
					BEGIN
						RETURN 0
					END
			END
		RETURN 0
END
--PEGAR MES DE FINISHED_DATE SE DIFERENTE DE NULL

--MES DO PRAZO MAXIMO ONDE DEVERIA TERMINAR O DIC
--SELECT (DATEPART(MONTH,START_DATE) + PERIOD.MONTHS -1) 
--FROM DIC INNER JOIN PERIOD ON DIC.ID_PERIOD = PERIOD.ID;
--VERIFICAR SE O MES EM QUE FOI CONCLUIDO É MAIOR QUE O 
	--MES EM QUE DEVERIA TER SIDO CONCLUIDO

--SE O FINISHED_DATE FOR NULO VERIFICAR SE O MÊS ATUAL É MAIOR 
	--QUE O MES EM QUE DEVERIA TER SIDO CONCLUIDO O DESAFIO 
GO
/****** Object:  Table [dbo].[CONFIGURATION]    Script Date: 12/06/2019 09:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERIOD] [int] NOT NULL,
 CONSTRAINT [PK_CONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 12/06/2019 09:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[REMOVED] [bit] NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIC]    Script Date: 12/06/2019 09:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[DESCRIPTION] [varchar](max) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[FINISHED_DATE] [datetime] NULL,
	[ID_STATUS] [int] NOT NULL,
	[ID_PERIOD] [int] NOT NULL,
 CONSTRAINT [PK_DIC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIC_HISTORY]    Script Date: 12/06/2019 09:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIC_HISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DIC] [int] NOT NULL,
	[NOTE] [varchar](max) NULL,
	[DATE] [datetime] NULL,
	[ID_STATUS_DIC] [int] NOT NULL,
	[TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIC_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERIOD]    Script Date: 12/06/2019 09:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERIOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONTHS] [int] NOT NULL,
	[NAME] [varchar](25) NOT NULL,
	[REMOVED] [bit] NOT NULL,
 CONSTRAINT [PK_PERIOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCESS]    Script Date: 12/06/2019 09:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[ID_DEPARTMENT] [int] NOT NULL,
	[REMOVED] [bit] NULL,
 CONSTRAINT [PK_PROCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 12/06/2019 09:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[REMOVED] [bit] NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/06/2019 09:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[AVATAR] [varchar](max) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PWD] [varchar](max) NOT NULL,
	[ID_DEPARTMENT] [int] NOT NULL,
	[ID_PROCESS] [int] NOT NULL,
	[IS_LEADER_DEPARTMENT] [bit] NULL,
	[IS_LEADER_PROCESS] [bit] NULL,
	[REMOVED] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[DIC_HISTORY] ADD  DEFAULT (getdate()) FOR [DATE]
GO
ALTER TABLE [dbo].[PERIOD] ADD  CONSTRAINT [DEFAULT_VALUE_REMOVED]  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[PROCESS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[STATUS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IS_LEADER_DEPARTMENT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IS_LEADER_PROCESS]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [REMOVED]
GO
ALTER TABLE [dbo].[CONFIGURATION]  WITH CHECK ADD  CONSTRAINT [FK_PERIOD] FOREIGN KEY([ID_PERIOD])
REFERENCES [dbo].[PERIOD] ([ID])
GO
ALTER TABLE [dbo].[CONFIGURATION] CHECK CONSTRAINT [FK_PERIOD]
GO
ALTER TABLE [dbo].[DIC]  WITH CHECK ADD  CONSTRAINT [FK_DIC_PERIOD] FOREIGN KEY([ID_PERIOD])
REFERENCES [dbo].[PERIOD] ([ID])
GO
ALTER TABLE [dbo].[DIC] CHECK CONSTRAINT [FK_DIC_PERIOD]
GO
ALTER TABLE [dbo].[DIC]  WITH CHECK ADD  CONSTRAINT [FK_DIC_STATUS] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[DIC] CHECK CONSTRAINT [FK_DIC_STATUS]
GO
ALTER TABLE [dbo].[DIC]  WITH CHECK ADD  CONSTRAINT [FK_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[DIC] CHECK CONSTRAINT [FK_USERS]
GO
ALTER TABLE [dbo].[DIC_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_DIC] FOREIGN KEY([ID_DIC])
REFERENCES [dbo].[DIC] ([ID])
GO
ALTER TABLE [dbo].[DIC_HISTORY] CHECK CONSTRAINT [FK_DIC]
GO
ALTER TABLE [dbo].[DIC_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_STATUS] FOREIGN KEY([ID_STATUS_DIC])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[DIC_HISTORY] CHECK CONSTRAINT [FK_STATUS]
GO
ALTER TABLE [dbo].[PROCESS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT] FOREIGN KEY([ID_DEPARTMENT])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[PROCESS] CHECK CONSTRAINT [FK_DEPARTMENT]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_DEPARTMENT] FOREIGN KEY([ID_DEPARTMENT])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_DEPARTMENT]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROCESS] FOREIGN KEY([ID_PROCESS])
REFERENCES [dbo].[PROCESS] ([ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_PROCESS]
GO
USE [master]
GO
