.title-div {
  display: flex;
  width: 100% !important;
  height: 10%;
  justify-content: space-around;
  margin-bottom: 4%;
  box-shadow: 0px 5px 10px -5.5px rgba(0, 0, 0, 0.75);
  margin-top: 5.5%;
  position:fixed;
  background-color: #f0f0f0;
  z-index: 1;
}

.add-button {
  display: flex;
  background-color: #1a587d!important;
  border-radius: 50%!important;
  justify-content: center;
}

.filter-div {
  display: flex;
  margin-bottom: 1%;
}

.filter-div h4{
  width: 95%;
  margin: auto;
  margin-left: 2%;
}

.filter-div button{
  margin: auto;
}

.example-card {
  max-width: 94%;
  max-height: 100%;
  margin-top: 13%;
  margin-right: 1%;
  margin-left: 2%;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
  width: 20%;
}

img{
  border-radius: 50%;
}

.content-container{
  display: flex;
  justify-content: space-around;
}

.description-div{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.p-icon-out mat-icon{
  color: red;
  font-size:x-large!important;
}

.p-icon-in mat-icon{
  color: green;
  font-size: x-large!important;
}

.example-viewport {
  height: 15em;
  width: 16em;
  border: 1px cornflowerblue solid;
  border-radius: 5px;
  padding: 1%;
  overflow-y: auto;
  overflow: auto;
  overscroll-behavior-y: contain;
}

@media only screen and (max-width: 770px) {
  .title-div{
    margin-top: 3%;
  }

  .filter-div{
    width: 20%;
  }
}

@media only screen and (max-width: 630px) {

  .title-div {
    margin-top: 7.5%;
  }

  .filter-div{
    width: 60%;
  }

  .example-card {
    margin-top: 25%;
  }

  .content-container img{
    display: none;
  }
  .content-container{
    flex-direction: column;
  }
}
