<div class="example-container" *ngIf="container; else elseBlock">
  <mat-toolbar color="primary" class="example-toolbar"
    style="background-color: #1a587d!important; position:fixed; z-index: 2; height: 12%">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="example-app-name" src="../../../assets/img/qualiex_logo_white.png" />
    <div class="navbar-type-div">
      <div style="display:flex">
        <p style="margin: 0px">Challenger</p>
      </div>
      <p style="line-height: 2%">Challenges Management</p>
    </div>
    <mat-icon>arrow_drop_down</mat-icon>
    <div class="divnav" style="display: flex; height: 100%; width: 100%; justify-content: flex-end">
      <div class="divnav"
        style="float:right; display:flex; border-left: 2px solid darkgrey;border-right: 2px solid darkgrey">
        <p class="divnav" style="font-size: 11pt; align-self: center; margin: 0; padding: 2px">UPDATES</p>
      </div>
    </div>
    <img class="img-avatar" [src]="user.avatar" />
      <div class="divnav" style="float:right; font-size: 11pt; margin-left: 2%; margin-right: 2%">
        <p style="margin: 0px">{{ user.name }}</p>
        <p style="line-height: 5%">{{ user.email }}</p>
      </div>
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu" (click)="$event.stopPropagation()"><mat-icon>settings</mat-icon></button>
    <mat-menu style="display: flex; justify-content: center;" #settingsMenu="matMenu">
        <button mat-menu-item (click)="redirectToSettings()">Settings <mat-icon>settings_applications</mat-icon></button>
        <button mat-menu-item (click)="logoff()">Logout <mat-icon>power_settings_new</mat-icon></button>
      </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="selected-item" routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="selected-item" routerLink="/kanban">DICs</a>
        <a mat-list-item routerLinkActive="selected-item" routerLink="/users">Users</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: 100%!important; background-color:#f0f0f0!important">

      <!--Add content here-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #elseBlock>
  <div>
    <router-outlet></router-outlet>
  </div>
</ng-template>
