<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
  (click)="$event.stopPropagation()"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="edit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button *ngIf="obj.status.id != 3" mat-menu-item (click)="changeStatus()">
    <mat-icon>swap_horiz</mat-icon>
    <span>Move to Next Status</span>
  </button>
  <button mat-menu-item (click)="redirect()">
    <mat-icon>subject</mat-icon>
    <span>Details</span>
  </button>
</mat-menu>

